/* your code here */
*{
	background-color:black;
	color:white;
}
.top{
	display:flex;
	justify-content: space-between;
	text-align:center;
	height: 20px;
	padding:20px;
}
div .media-icon{
	display:flex;
	padding: 20px;
}
img{
	width:10px;
}
div .link-boxes{
	display:flex;
	align-items: column;
	justify-content: center;
}
